.footer-top {
  position: relative;
  background-color: #E8E8E8;
  text-align: center;
  padding: 25px 0 60px 0;
  color: $brand-main;

  p {
    font-size: 12px;
    font-weight: 500;
    max-width: 260px;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 30px;

    span {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 22px;
    font-weight: 500;
  }

  .form-newsletter {

    label {
      font-weight: 500;
      font-size: 15px;
      line-height: 40px;
    }

    input {
      width: 260px;
      height: 34px;
      border: 1px solid #CCCCCC;
    }

    input:placeholder-shown {
      font-size: 12px;
      font-weight: 500;
      padding-left: 10px;
    }

    label, input {
      display: block;
      margin: 0 auto;
    }

    button {
      display: inline-block;
      margin-top: 24px;
      margin-bottom: 14px;
      width: 75px;
      height: 25px;
      font-size: 12px;
      line-height: 22px;
      border: 1px solid $brand-main;
    }
  }

  .call-us-cta {
    background-color: $white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #5E5A5A;
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    font-size: 14px;

    i {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.footer-social {
  
  h1 {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 25px;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: $brand-main;
        font-size: 25px;
      }
    }
  }
}