/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon
}

.grid-item-5 {
  background-color: lightseagreen;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}

.grid-item-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.grid-item-2 {
  grid-area: 1 / 4 / 5 / 5;
}

.grid-item-3 {
  grid-area: 1 / 3 / 5 / 4;
}
