@mixin shape($type: 'square', $size: 200px) {
  width: $size;
  height: $size;
  border: 1px solid #000;

  @if $type == 'diamond' {
    transform: rotate(45deg);
  }

  @if $type == 'circle' {
  border-radius: $size;
  }

  @if $type == 'arrow-up' {
    border-color: magenta transparent;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    height: 0px;
    width: 0px;
    margin: 45px;
  }
  
  @if $type == 'arrow-right' {
    border-color: transparent green;
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    height: 0px;
    width: 0px;
    margin: 45px;
  }

  @if $type == 'arrow-down' {
    border-color: blue transparent;
    border-style: solid;
    border-width: 20px 20px 0px 20px;
    height: 0px;
    width: 0px;
    margin: 45px;
  }

  @if $type == 'arrow-left' {
    border-color: transparent red;
    border-style: solid;
    border-width: 20px 20px 20px 0px;
    height: 0px;
    width: 0px;
    margin: 45px;
  }
}

.my-square {
  @include shape();
}

.my-diamond {
  @include shape('diamond', 40px);

  margin: 45px;
}

.my-circle {
  @include shape('circle', 100px);
}

.arrow-up {
  @include shape('arrow-up');
}

.arrow-right {
  @include shape('arrow-right');
}

.arrow-down {
  @include shape('arrow-down')
}

.arrow-left {
  @include shape('arrow-left')
}



