@import './banner-main';
@import './catalog-preview';
@import './home-cta-banner';
@import './home-social.scss';
@import './home-stores';

h1 {
  font-weight: 300;
  text-align: center;

  span {
    font-weight: 500;
  }
}

